header {
  margin: 22px 22px 0px 22px;
  /* для всего Header отступы*/
}

header div {
  /* заголовок бирюзовым*/
  text-transform: uppercase;
  color: #44ab96;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  float: left;
  margin: 0px 0px 0px 12px;
  /* для BEST SITE расстояние от лого*/
}

#logo {
  background-image: url("../images/LogoBestSite.svg");
  width: 33.5px;
  height: 33.5px;
  left: 33.5px;
  top: 33.5px;
  float: left;
  margin: 0px 0px 7px 0px;
  /* лого на одном уровне с BS, не поняла почему*/
}

a {
  text-decoration: none;
}

/*  отменяет подчеркивание */

header>ul>li>a {
  /* ссылки в хедере красным*/
  text-transform: uppercase;
  color: #d55151;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  margin: 0px 0px 0px 24px;
  padding: 7px 0px 0px 0px;
}

header ul {
  float: right;  /* ul выровняли вправо*/
}

header ul li {
  display: inline-block;
  /* блоки между  собой стали в строку*/
}

.clearfix {
  clear: both;
  /* искуственно создали пустые теги для хедера, section, footer.bottom, чтоб сделать отступы, так как из-за флоат все развалилось*/
}

section h1 {
  /* жирный заголовок в article*/
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 80px;
  margin: 115px 313px 32px 22px;
}

body {
  /*  селектор для определения фона страницы */
  background-color: #fff;
  background-image: url("../images/Mohaka.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background: center / cover url("../images/Mohaka.png"); 
  /*no-repeat fixed #fff;
   то же самое, что выше, другой способ*/
}

main {
  /*   скругление*/
  background-color: #fff;
  width: 984px;
  border-bottom-right-radius: 50px;
  padding: 20px;
  /* учитывать его при всех margin!!!!  */
  /*   border-bottom-left-radius: 50px; */
  /*   border-top-right-radius: 50px; */
  /*   border-top-left-radius: 50px; */
  /*   border-radius: 50px; */
}

section p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 325px 47px 22px;
  /* для Lorem ipsum отступы*/
}

section.list li {
  /* display: inline-block;
  расположить блоки li горизонтально */
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex; /* перенос текста */
  width: 200px;
  height: 200px;
}

/* section.list ul {
  float: left;
}*/

section div {
  display: inline-block;
  /* текст и картинки между собой стали в строку внутри каждого li*/
   width: 100px;
  margin: auto; /*перенос текста */
}

/*section ul li .text{
  display: flexbox;
  width: 250px;
  height: 250px;
} */

#pic1 {
  background-image: url("../images/item1.svg");
}

#pic2 {
  background-image: url("../images/item2.svg");
}

#pic3 {
  background-image: url("../images/item1.svg");
}

div.pictures {
  width: 112px;
  height: 83.78px;
  left: 42px;
  top: 438px;
}

#pic4 {
  background-image: url("../images/icon-info.svg");
  width: 25px;
  height: 25px;
  left: 25px;
  top: 25px;
}

footer.topfoo button {
  /* красота кнопки из фигмы */
  width: 342px;
  height: 64px;
  left: 34px;
  top: 765px;
  background: #44ab96;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin: 243px 0px 28px 22px;
  color: #ffffff;
  /* белый цвет текста для кнопки */
  text-transform: uppercase;
  /* верхний регистр */
}

footer.topfoo div {
  margin: 0px 0px 89px 22px;
  float: left;
}
footer.topfoo a {
  color: #eb5757;
  /* красный цвет текста для ссылки Почитать */
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 89px 8px;
  float: left; 
}


footer.bottom {
  /* футер. который идет после main: main + footer */
  background-color: #1c1c1c;
  /*черный цвет футера */
  color: #ffffff;
  /*белый цвет текста, сработало только для div */
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

footer.bottom div {/* 2020.Reserved */
margin: 0px 0px 0px 19px;
padding: 15px;
float: left;
}

footer.bottom a {
float: right;  /* выровняли вправо RUS ENG*/
}

footer.bottom .active {
  margin: 17px 46px 18px 0px; /*для RUS*/
}
footer.bottom .eng {
  margin: 17px 22px 18px 0px; /*для ENG*/
}

footer.bottom a {
  color: #ffffff;/*  белый цвет текста для ссылок RUS ENG A:visited active */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /*три строки ниже нужно добавить в active но как это проверить, протестить? */
  /*text-decoration:none; отменяет подчеркивание */
  border-bottom: 5px solid transparent;
}

footer.bottom .active {
  border-color: #ffffff;
}

/* Active links */
/*footer.bottom a:link {
    color: blue;
  }  Unvisited links */
/*footer.bottom a:visited {
    color: purple;
  } /* Visited links */
/*footer.bottom a:hover {
    background: yellow;
  }  User hovers */

 